In [ ]:
#Comment
example=1 # this is the comment

text="# this is not a comment because it's inside quotes"

In [ ]:
#Numbers

In [1]:
2+2

4

In [2]:
30-5*6

0

In [3]:
(40-5*6)/4           # division always returns a floating point number

2.5

In [4]:
# classic division returns a float
4/2

2.0

In [6]:
# floor division discards the fractional part
5//2

2

In [7]:
# the % operator returns the remainder of the division
5%2

1

In [8]:
# ** operator to calculate powers
7**3  # 7 to the power of 3

343

In [ ]:
TEXT:

In [11]:

'learning python'  # single quotes

'learning python'

In [12]:
"yay! I'm learing python :)"    # double quotes

"yay! I'm learing python :)"

In [13]:
# digits and numerals enclosed in quotes are also strings
'2000'

'2000'

In [17]:
# in order to escape the single quote... use \'

'sandal\''

"sandal'"

In [18]:
"sandal"

'sandal'

In [19]:
"sandal..."    # to change the diouble quote to single quote, use ...

'sandal...'

In [20]:
s= 'Hi!\n I am learning python.'        # \n means newline
s

'Hi!\n I am learning python.'

In [21]:
print(s)

Hi!
 I am learning python.

In [22]:
print('A:name\name')

A:name
ame

In [23]:
print(r'A:name\name')      r # b used before if do not want \n intrepreted as special characters

A:name\name

In [24]:
Strings can be concatenated with the + opeartor and repeated with *
example

2*'be' + " careful"

SyntaxError: invalid syntax (1367882344.py, line 1)

In [25]:
2*'be' + 'careful'

'bebecareful'

In [27]:
'be''careful'

'becareful'

In [7]:
x = 5
y = "John"
z= 3.9
type(x,y,z)

TypeError: type.__new__() argument 1 must be str, not int

In [8]:
A='MYTHILI'
A[1:3]

'YT'

In [9]:
A[-1:-3]

''

In [10]:
A[-1]

'I'

In [11]:
A[-6:]

'YTHILI'

In [12]:
A.index("I")

4

In [13]:
b='apple'
b.index('p')

1

In [14]:
b.upper()

'APPLE'

In [15]:
A.lower()

'mythili'